---
import DivTittleHome from "../DivTitleHome/DivTittleHome.astro";
import DivButtonsHome from "../DivButtonsHome/DivButtonsHome.astro";
---


<section class="sectionLeft"> 

    <DivTittleHome />
    <DivButtonsHome />

</section>


<style>
.sectionLeft {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 2rem;
    height: 100%;
    /* background-color: transparent;  */
    background-color: #d7e4bd;
} 
</style>
