---
import SectionLeft from "../SectionLeft/SectionLeft.astro";
import SectionRigth from "../SectionRigth/SectionRigth.astro";
---

<section class="containerSection">
    <SectionLeft> </SectionLeft>
    <SectionRigth> </SectionRigth>
</section>


<style>
    .containerSection{
        width: 100%;
        height: 91.5%;
        display: flex;
        justify-content: center;
        color: white;
    }
</style>