---
const menu = ['HOME', 'ABOUT', 'SERVICE', 'HELP' ];
---

{
    menu.map( element => <a>{element}</a> )
}


<style>


    a{
        color: #ffffff;
        font-size: 22px;
        margin: 2rem;
        cursor: pointer;
        font-weight: bold;
    }
</style>

