---

import ButtonMoreHome from "../../UI/ButtonMoreHome/ButtonMoreHome.astro"
import ButtonSignUp from "../../UI/ButtonSignUpHome/ButtonSignUp.astro";
---

<div class="containerButtons">

    <ButtonMoreHome />
    <ButtonSignUp />

</div>


<style>

    .containerButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 75%;
        height: 15%;
        gap: 5rem;
    }

</style>


