---
import DivImageHome from "../DivImageHome/DivImageHome.astro";
---

<section class="sectionRigth"> 
    <DivImageHome />
</section>


<style>
.sectionRigth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #353331;
}
</style>

