---

import profile from '../../Img/Profile.png'

---

<div class="containerImage">

   <img src={profile} alt="">

</div>


<style>

    .containerImage{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 95%;
        height: 50%;
    }
</style>