---

---

<div class="containerTitle">

    <h1 class="title">Let's start something big together</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iusto aperiam quis reiciendis rem deserunt laboriosam laudantium nesciunt incidunt dolore numquam ratione veniam, 
        corporis cum vel? Non recusandae nesciunt minima earum.</p>

</div>


<style>
    .containerTitle{
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 60%;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4.5rem;
        text-align: center;
        width: 85%;
        color: black;
    }

    p{
        text-align: center;
        width: 80%;
        font-size: 22px;
        color: black;
    }
</style>
