---
import ListasDesordenada from "../ListaDesordenadaHome/ListasDesordenada.astro";
---

<nav>
    <ListasDesordenada />
    <a class="name"  href="">LARANA, INC.</a>
</nav>

<style>
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .name{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-size: 22px;
        text-decoration: none;
        font-weight: bold;
        margin-right: 6rem;
    }

</style>




